<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dreamfly.positionsystem" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/positionsystemlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7D95O73sTBvjWYbfyqYOqXuQ" />
        <activity
            android:name=".Activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity">
        </activity>
        <activity android:name=".Activity.RegistActivity">
        </activity>
        <activity android:name=".Activity.ManagerActivity">
        </activity>
        <activity android:name=".Activity.RegulatorActivity">
        </activity>
        <activity android:name=".Activity.PositionActivity">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" />
            </intent-filter>
        </service>
        <service android:name="org.dreamfly.positionsystem.Services.Services"/>
        <service android:name="org.dreamfly.positionsystem.Services.QueryService"/>


    
   </application>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"><!--SD读取的权限-->
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"><!--SD卡写入和删除的权限-->
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"><!--获取设备状态的权限-->
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><!--获取地理位置权限-->
   <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission  android:name="android.permission.CALL_PHONE" />
</manifest>
